
.footer{width: 100%; height: 700px; z-index:2;}
.footer_01{width: 100%; height: 65px;background: #7E65F5; text-align: center; color: #fff; line-height: 65px; }

.footer_02{width: 100%; height: 435px; background: #FAFAFA; color:#000;}
.footer_02_01{width: 1200px; height: 170px; margin: 0 auto; border-bottom: 1px solid #000; }
.footer_02_01_left{width: 600px;  height: 170px; float: left;  line-height: 25px; margin-top: 25px;}
.footer_02_01_right{width: 600px; height: 170px; float: left; line-height: 25px; margin-top: 25px;}

.footer_02_02{width: 1200px; height: 120px; margin: 0 auto; border-bottom: 1px solid #000;  font-size: 10pt; line-height: 25px;}

.footer_02_03{width: 1200px; height: 143px; margin: 0 auto; font-size: 9pt; line-height: 25px; margin-top: 25px;}