<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproj.missingitnow.member.model.dao.CartMapper">
	
	<resultMap id="CartResultSet" type="CartDTO">
		<id column="WISHLIST_NO" property="wishListNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="WISHLIST_DATE" property="wishListDate"/>
		<result column="WISHLIST_STATUS" property="wishListStatus"/>
		<result column="PROD_NO" property="prodNo"/>
		<result column="PROD_AMOUNT" property="prodAmount"/>
		<collection property="productDTO" resultMap="ProductResultSet"/>
	</resultMap>

	<resultMap id="ProductResultSet" type="ProductDTO">
	    <id property="prodNo" column="PROD_NO"/>
		<result property="prodName" column="PROD_NAME"/>
		<result property="prodPrice" column="PROD_PRICE"/>
		<result property="prodDetails" column="PROD_DETAILS"/>
		<result property="prodUploadDate" column="PROD_UPLOAD_DATE"/>
		<result property="prodTerminateDate" column="PROD_TERMINATE_DATE"/>
		<result property="prodDiscountRate" column="PROD_DISCOUNT_RATE"/>
		<result property="prodDiscountPeriod" column="PROD_DISCOUNT_PERIOD"/>
		<result property="prodManufacturer" column="PROD_MANUFACTURER"/>
		<result property="stockQuantity" column="STOCK_QUANTITY"/>
		<result property="prodDisplayChk" column="PROD_DISPLAY_CHK"/>
		<result property="prodCtgNo" column="PROD_CTG_NO"/>
		<result property="corpNo" column="CORP_NO"/>
		<result property="prodHits" column="PROD_HITS"/>
		<result property="prodImgRename" column="PROD_IMG_RENAME"/>	
		<result property="prodImgPath" column="PROD_IMG_PATH"/>	
		<result property="corpName" column="CORP_NAME"/>
	
	</resultMap>

	<select id="selectTotalCount" resultType="int">
	 	SELECT
			COUNT(*)
		FROM
			TBL_WISHLIST	
	</select>


	<select id="selectCartList" resultMap="CartResultSet">
	
	        SELECT 
               A.RNUM
             , A.*
          FROM (SELECT ROWNUM RNUM
                     , B.*
                  FROM (SELECT C.*
                  			 , D.PROD_NAME
                  			 , D.PROD_PRICE
                          FROM TBL_WISHLIST C
                          JOIN TBL_PRODUCT D ON (D.PROD_NO = C.PROD_NO)
                         WHERE C.USER_NO = #{userNo}
                         ORDER BY C.WISHLIST_NO DESC
                        ) B
               ) A
			WHERE A.RNUM BETWEEN #{startRow} AND #{endRow}	
		
	</select>
	
	<delete id="deleteCart"> 
        DELETE 
               TBL_WISHLIST A 
         WHERE A.USER_NO = #{userNo}
           AND A.WISHLIST_NO = #{wishListNo} 
    </delete> 
	
</mapper>